<h4>Naam:</h4>
<text-input for="name" class="form-control"></text-input>
<h4>Min:</h4>
<text-input for="min" class="form-control"></text-input>
<h4>Max:</h4>
<text-input for="max" class="form-control" ></text-input>
<h4>Dagdeel 1:</h4>
<check-input for="Dagdeel 1" class="form-control"></check-input>
<h4>Dagdeel 2:</h4>
<check-input for="Dagdeel 2" class="form-control"></check-input>

<save-button target="workshops" method="savepicks" class="btn btn-success">
    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    Opslaan
</save-button>
